
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.App {
    height: calc(100% - 2.0rem);
    width: calc(100% - 2.0rem);
    background-color: gray;
    display: flex;
    border-radius: 1.5rem;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
}