@font-face {
    font-family: Swiss721;
    src: url("https://d2fhlomc9go8mv.cloudfront.net/static/fonts/Swiss721Regular.woff2");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: Swiss721;
    src: url("https://d2fhlomc9go8mv.cloudfront.net/static/fonts/Swiss721Light.woff2");
    font-weight: 100;
}
@font-face {
    font-family: Swiss721;
    src: url("https://d2fhlomc9go8mv.cloudfront.net/static/fonts/Swiss721RegularItalic.woff2");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: Swiss721;
    src: url("https://d2fhlomc9go8mv.cloudfront.net/static/fonts/Swiss721Medium.woff2");
    font-weight: 300;
}
@font-face {
    font-family: Swiss721;
    src: url("https://d2fhlomc9go8mv.cloudfront.net/static/fonts/Swiss721MediumItalic.woff2");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Swiss721;
    src: url("https://d2fhlomc9go8mv.cloudfront.net/static/fonts/Swiss721Bold.woff2");
    font-weight: 400;
}

@font-face {
    font-family: GaramondCondensed;
    src: url("https://d2fhlomc9go8mv.cloudfront.net/static/fonts/GaramondCondensed.woff2");
    font-weight: 200 normal;
}
@font-face {
    font-family: GaramondCondensed;
    src: url("https://d2fhlomc9go8mv.cloudfront.net/static/fonts/GaramondCondensedLight.woff2");
    font-weight: 100;
}
@font-face {
    font-family: GaramondCondensed;
    src: url("https://d2fhlomc9go8mv.cloudfront.net/static/fonts/GaramondCondensedLightItalic.woff2");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: GaramondCondensed;
    src: url("https://d2fhlomc9go8mv.cloudfront.net/static/fonts/GaramondCondensedItalic.woff2");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: MDIO;
    src: url("https://d2fhlomc9go8mv.cloudfront.net/static/fonts/MDIO-Regular.woff");
    font-weight: 200 normal;
    font-style: normal;
}
#root {
    display: flex;
    justify-content: center;
    height: 100vh;
    max-height: 100dvh;
    width: 100vw;
    background-color: black;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
